// DOWN 1 ===============
@keyframes down1 {
    from{
        height: 10%;
    }
    to{
        height: 29%;
    }
}
@keyframes up1 {
    from{
        height: 29%;
    }
    to{
        height: 10%;
    }
}
// DOWN 2 =================
@keyframes down2 {
    from{
        height: 10%;
    }
    to{
        height: 37%;
    }
}
@keyframes up2 {
    from{
        height: 37%;
    }
    to{
        height: 10%;
    }
} 
// =========== Down3 ========
@keyframes down3 {
    from{
        height: 12%;
    }
    to{
        height: 45%;
    }
}
@keyframes up3 {
    from{
        height: 45%;
    }
    to{
        height: 12%;
    }
} 