main{
    footer{
        padding: 4% 0;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000;
        ul{
            width: 30%;
            line-height: 1.7;
            p{
                font-size: $p;
                margin-bottom: 3%;
            }
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: $sm;
                }
            }
        }
    }
}