main{
    .sorts{
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
        span{
            width: 30%;
            .image{
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text1,.text2,.text3{
                padding: 1% 0;
                overflow: hidden;
                //  height: 4vw;
                
                h2{
                    font-size: calc($h1 - 0.7vw);
                    margin-bottom: 3%;
                }
                p{
                    font-size: $p;
                    line-height: 1.6;
                }
                a{
                    font-size: $sm;
                    color: rgb(34, 20, 124);
                }
            }
            .arrowUp{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    font-size: $p;
                    border: 0.1vw black solid;
                    padding: 1% 1.7%;
                    border-radius: 50%;
                }
                .fa-angle-up{
                    display: none;
                }
                .leftImg,.rightImg{
                    background-color: black;
                    width: 48%;
                    height: 0.1vw;

                }
                // .leftImg1,.rightImg1{
                //     height: 0.05vw;
                // }
            }
        }
    }
}

// ========================== media query  =================
@media only screen and (max-width:$mq){
    main{
        .sorts{
            flex-wrap: wrap;
            span{
                width: 100%;
                margin-bottom: 7%;
                .text1,.text2,.text3{
                    // min-height: 25vw;
                    h2{
                        font-size: $p-mo;
                       
                    }
                    p{
                        font-size: $fs3;
                    }
                    a{
                        font-size: $fs3;
                    }
                    
                }
                .arrowUp{
                    i{
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}