@import "./var";
@import "./header";
@import "./main-container";
@import "./highleights";
@import "./neu-gebrauchtesWagen";
@import "./angebote";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}
