@import "./var";
@import "./header";
@import "./hamburger-menu";
@import "./menu-infos";
@import "./main-container";
@import "./highleights";
@import "./neu-gebrauchtesWagen";
@import "./angebote";
@import "./sorts-threeSpan";
@import "./animations";
@import "./neuigkeiten";
@import "./weitereBreiche";
@import "./grid-pics";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
    user-select: none;
}
i{
    cursor: pointer;
}
